
h1, h2, h3, h4, h5, h6 {
    font-weight: 100;
}

.mr2 {
    margin-right: 3%;
}

html, body
{
    height: 100%;
}

body {
    background-color:#2f4050;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main {
    width: 100%;
    overflow-x: hidden;
    margin-top: -1px;
    height: 100%;
}
.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
    background-image:none;
}
    .navbar-default .sidebar-collapse {
        /*margin-top: 55px;*/
    }

    .navbar-default .form-group {
        margin-top: 20px;
        margin-bottom: 25px;
    }
.navbar-static-side {
    z-index: 100;
    position: absolute;
    width: 220px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav > li > a {
    color: #a7b1c2;
    font-weight: 400;
    padding: 14px 20px 14px 25px;
}
.nav > li.active {
    border-left: 4px solid #19aa8d;
    background: #293846;
}

.nav > li.active > a {
    color: #ffffff;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
}

.nav.nav-second-level > li.active,
.nav.nav-third-level > li.active {
  border: none;
}
.nav.nav-second-level.collapse[style] {
  height: auto !important;
}
.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}
.nav-second-level li a {
  padding: 7px 10px 7px 5px;
  padding-left: 32px;
}
.nav-third-level li a {
  padding-left: 42px;
}
.nav-fourth-level li a {
  padding-left: 52px;
}
.nav-second-level li:last-child {
  margin-bottom: 10px;
}

.border-bottom {
    border-bottom: 1px solid #e7eaec !important;
}
#page-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
    height: 100%;
    background-color: #f3f3f4;
    padding: 0 20px;
    position: relative !important;
}
#page-wrapper .item {
        border-top: 0;
        padding: 20px;
        background-color: #ffffff;
        margin-top: 10px;
    }

    #page-wrapper .item h2 {
        margin-top: 10px;
        font-size: 20px;
        color: rgb(103, 106, 108);
    }
        
        #page-wrapper .item table {
            margin-top: 15px;
        }
   
        #page-wrapper .item table tr{
            cursor: pointer;
        }

        #page-wrapper .item table .label{
            margin-right: 15px;
        }

        .pagination{
            margin: 0;
        }
@media (max-width: 768px) {
    .navbar-static-side {
        z-index: 100;
        position: inherit;
        width: auto;
        }
    #page-wrapper {
        position: inherit;
        margin: 0;
        height: 100%;
        background-color: #f3f3f4;
        padding: 0 20px;
        position: relative !important;
    }

    .mobileTitle {
        background-color: #f3f3f4;
    }

    .mobileTitle h2 {
        font-size: 18px;
        text-align: center;
    }
      
}


    
.panel {
    min-height: 330px;
}

.detailView {
    min-height: 226px;
}

#map_canvas { height: 400px; }

.footer {
  background: none repeat scroll 0 0 white;
  border-top: 1px solid #e7eaec;
  bottom: 0;
  left: 0;
  padding: 10px 20px;
  position: absolute;
  right: 0;
}

.social {
	font-size: 1px;
}
 
/* This gets Google to fall into place */
.social-share {
	font-size: 1px;
}
 
/* This gets Facebook to fall into place */
.social-share iframe {
	vertical-align: middle;
	
}
.fb-share-button{
 margin-right:20px;
}
/* Set an optional width for your button wrappers */
.social-share span {
	display: inline-block;
	width: 110px;
}
 


    




