<script type="text/template" class="template">
    <ul>
    <% _.each(model, function(item){ %>
        <li><%= item.key %></li>
        <ul>
        <% _.each(item.values, function(subItem){ %>
            <li><%= subItem.key %></li>
            <% if(subItem.values[0].key) {%>
            <ul>
            <% _.each(subItem.values, function(subsubItem){ %>
            <li><%= subsubItem.key %></li>
            <% }); %>
            </ul>
            <%}%>
        <% }); %>
        </ul>
    <% }); %>
    </ul>



</script>