
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="row">
            <div class="row border-bottom visible-xs-block mobileTitle">
                <h2>Points d'intérêt Issy les Moulineaux</h2>
            </div>
            <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" placeholder="Rechercher">
                    </div>
                </form>
            </div>
        </div>
        <div class="sidebar-collapse  hidden-xs"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row border-bottom  hidden-xs">
            <h2>Points d'intérêt Issy les Moulineaux</h2>
        </div>
        <div class="row border-bottom item itemDescription hide">
            <div class="col-sm-5 itemsView">

            </div>
            <div class="col-sm-7 descriptionView">

            </div>
        </div>
        <div class="row border-bottom item hide itemMap">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Google Map</h3>
                    </div>
                    <div class="panel-body" style="padding: 0 15px 0 15px">
                        <div class="row" id="map_canvas">

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="footer hidden-xs">
            <div class="pull-right">
                <a href="mailto:nicolas.dfr@gmail.com"><strong>Contact</strong></a>
                
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2"><strong>IssyInteret</strong> 2015</div>
                        <div class="col-md-1 mr2"><div class="fb-like" data-href="http://issyinteret.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div></div>
                        <div class="col-md-2"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://issyinteret.fr" data-text="Points d'intérêt sous forme de liste et de lieu géolocalisés d'Issy-les-Moulineaux." data-via="dub_low" data-lang="fr" data-hashtags="issylesmoulopendataparis">Tweeter</a></div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/page")
}


