
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse"></div>
    </nav>
    <div id="page-wrapper">
        <div class="row border-bottom">
            <h2>Points d'interet Issy les Moulineaux</h2>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/page")
}


